<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>login page</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'
    />
    <link rel='stylesheet' href='../statics/style/dashboard.css' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'
    />
  </head>

  <body>
    <nav class='nav bg-light'>
      <span id='main-logo' class='mx-4 my-2 h4'><i
          class='fa-solid fa-bug-slash'
        ></i>
        Bug Tracker</span>
      <ul class='mx-4 my-2'>
        <button id='logout-btn' class='btn-sm'>Logout</button>
      </ul>
    </nav>
    <main class='main-content'>

      <div class='table-header'>
        <h6>Projects</h6>
        <button id='new-project' class='btn btn-success mx-2'><a
            href='/projects/create'
          >New project</a></button>
      </div>
      <table class='table thead-light table-stripped 5'>
        <thead>
          <tr>
            <th scope='col'>#</th>
            <th scope='col'>Project Name</th>
            <th scope='col'>Contributors</th>
            <th scope='col'>Description</th>
          </tr>
        </thead>
        {{#if projects.length}}
          <tbody>
            {{#each projects as |project|}}
              {{#each contributorList as |contributors|}}
                <tr>
                  <td>{{project.id}}</td>
                  <td><a
                      href='/projects/{{project.id}}'
                    >{{project.name}}</a></td>
                  <td>{{project.description}}</td>
                  {{#each contributors as |contributor|}}
                    <td>{{contributor.name}}</td>
                  {{/each}}
                </tr>
              {{/each}}
            {{/each}}
          </tbody>
        {{/if}}
      </table>

    </main>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js'
      integrity='sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13'
      crossorigin='anonymous'
    ></script>
  </body>
</html>

<script src='scripts/base.js'></script>
<script src='scripts/main.js'></script>